h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 6vw;
  width: 40%;
  line-height: 90%;
  padding: 20px;
  height: fit-content;
  margin-top: 10vh;
}

p {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.25vw;
  width: 50%;
  line-height: 4vh;
  padding: 20px;
  height: fit-content;
  margin-bottom: 30px;
}

.discord-background {
  position: absolute;
  bottom: 0;
  width: 60vw;
  height: fit-content;
  left: 40vw;
  background-color: transparent;
}